.navbar {
  position: relative;
  height: 65vh;
  background: transparent;
  z-index: 1;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  object-fit: cover;
  background-repeat: no-repeat;
  filter: brightness(75%);
  z-index: -1;
}

.nav-link{
  font-weight: bold;
  color: white;
}

.nav-list{
  list-style-type: none;
}

.nav-link:hover{
  text-decoration: underline;
  text-underline-offset: 7px;
}

.ntbcustom{
  background-color: #ff8d21;
  color: black;
  font-weight: 600;
  border:1px solid #ff8d21;
  outline: none;
}

.ntbcustom:hover {
  transition: all 500ms ease-in;
  color: white;
  background-color: transparent;
}

.hcraesLfts{
  width: 300px;
}

.form-search{
  box-shadow: none;
}

.desc {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}
.user-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white; /* Optional: white border */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Optional: subtle shadow */
}
