<footer class="footer text-white p-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h5 class="footer-heading">Tools</h5>
        <ul class="list-unstyled">
          <li class="nav-item"><a class="nav-link" href="#">AI Image Generator</a></li>
          <li class="nav-item"><a class="nav-link" href="#">AI Video Generator</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Image upscaler</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Background Remover</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Photo editor</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="footer-heading">Information</h5>
        <ul class="list-unstyled">
          <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
          <li class="nav-item"><a class="nav-link" href="#">API</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Sell content</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Search trends</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="footer-heading">Legal</h5>
        <ul class="list-unstyled">
          <li class="nav-item"><a class="nav-link" href="#">Terms of use</a></li>
          <li class="nav-item"><a class="nav-link" href="#">License agreement</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Privacy policy</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Cookies policy</a></li>
        </ul>
        <h5 class="footer-heading mt-5">Support</h5>
        <ul class="list-unstyled">
          <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Help center</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="footer-heading">Follow Us</h5>
        <ul class="list-unstyled social-icons">
          <a class="nav-link" href="#"><img src="../../assets/Images/facebook.png" width="30" height="30" /></a>
          <a class="nav-link" href="#"><img src="../../assets/Images/instagram.png" width="30" height="30" /></a>
          <a class="nav-link" href="#"><img src="../../assets/Images/twitter.png" width="30" height="30" /></a>
          <a class="nav-link" href="#"><img src="../../assets/Images/social.png" width="30" height="30" /></a>
          <a class="nav-link" href="#"><img src="../../assets/Images/linkedin.png" width="30" height="30" /></a>
          <a class="nav-link" href="#"><img src="../../assets/Images/youtube.png" width="30" height="30" /></a>
          <a class="nav-link" href="#"><img src="../../assets/Images/reddit.png" width="30" height="30" /></a>
          <a class="nav-link" href="#"><img src="../../assets/Images/discord.png" width="32" height="31" /></a>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="footer-bottom d-flex flex-row align-items-center">
    <div class="d-flex flex-row me-2">
      <img class="me-1" src="../../assets/Images/Icon_White.png" width="30" height="30"/>
      <h5 class="offcanvas-title" id="lebalrabvan">STOCKS</h5>
    </div>
    <p class="mb-0">Copyright &copy; 2024. All rights reserved.</p>
  </div>
</footer>
