.footer {
  background-color: black;
  padding: 10px 0;
}

.footer-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-bottom {
  padding: 10px 0;
  background-color: black;
}

.nav-item{
  margin-bottom: 5px;
}

.social-icons{
  display: grid;
  gap: 5px;
  width: fit-content;
  grid-template-columns: repeat(4, 1fr);
}
