<div class="body">
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="cam"></div>
  <div class="content">
      <div class="zoom">
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
          <div class="line">
              <div class="cuboid">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </div>
      </div>
  </div>
</div>
