<div class="hkepasegami">
  <app-page-header></app-page-header>

  <h4 class="mt-5 text-center">Try Out The 3D Effects With Pure CSS</h4>
  <p class="text-center mt-2">We share the talents of developers with you, encourage by trying them out</p>
  <div class="container d-flex flex-row align-items-center justify-content-center my-5">
    <div *ngFor="let index of backgroundUrls" class="card-container">
      <div class="card" [ngStyle]="{'background-image': 'url(' + index.url + ')'}">
        <div class="overlay">
          <a class="nav-item text-decoration-none" [href]="index.routeUrl"><p class="overlay-text">{{index.title}}</p></a>
        </div>
      </div>
    </div>
  </div>

  <h4 class="text-center mt-5">Just click, Play and Choose. Free 3D Models</h4>
  <p class="mt-2 mb-5 text-center">Explore All the Models for free and Enjoy the unlimited scenes</p>
  <div class="d-flex flex-row flex-wrap gap-5 align-items-center justify-content-center">
    <app-gltf-viewer></app-gltf-viewer>
  </div>

  <app-footer></app-footer>
</div>

