<app-header />

<div class="container-fluid d-flex flex-column align-items-center justify-content-between">
  <div class="signUp-banner container-fluid d-flex flex-row justify-content-evenly align-items-center">
    <div class="banner-para">
      <p class="fw-bold m-0">Enjoy Uninteruppted Downloads and services Just By a Sign Up</p>
    </div>
    <div class="signUp-btn">
      <button class="ntbcustom btn btn-primary">Sign Up Now</button>
    </div>
  </div>

  <div class="text-center mt-5">
    <h3>Explore the Magic and have Unlimited Funs</h3>
    <p>Check out our best stocks and choose your choice</p>
  </div>

  <app-video-displayer [videoLinks]="videoLinks" />

  <div class="text-center mt-5">
    <h3>Find Your Favourite's</h3>
    <p>Looking for something, We have everything.</p>
  </div>

  <app-card [cardLinks]="cardLinks" [showImageCaption]="true" [showPromptButton]="true" />
</div>

<app-footer />
