<div class="container-fluid d-flex flex-column align-items-center justify-content-between">
  <div class="signUp-banner container-fluid d-flex flex-row justify-content-evenly align-items-center">
    <div class="banner-para">
      <p class="fw-bold m-0">Enjoy Uninteruppted Downloads and services Just By a Sign Up</p>
    </div>
    <div class="signUp-btn">
      <button class="ntbcustom btn btn-primary">Sign Up Now</button>
    </div>
  </div>

  <div class="text-center mt-5">
    <h3>Find Your Favourite's</h3>
    <p>Check out our best stocks and choose your choice</p>
  </div>

  <div class="stocks-container">
    <div class="card">
      <img src="../../assets/Images/Icon.png" class="card-img-top" alt="">
    </div>
    <div class="card">
      <img src="../../assets/Images/Icon.png" class="card-img-top" alt="">
    </div>
    <div class="card">
      <img src="../../assets/Images/Icon.png" class="card-img-top" alt="">
    </div>
    <div class="card">
      <img src="../../assets/Images/Icon.png" class="card-img-top" alt="">
    </div>
    <div class="card">
      <img src="../../assets/Images/Icon.png" class="card-img-top" alt="">
    </div>
    <div class="card">
      <img src="../../assets/Images/Icon.png" class="card-img-top" alt="">
    </div>
  </div>

  <h4 class="text-center mt-5 mb-1">Know About Us</h4>
  <div class="container-fluid d-flex flex-row align-items-center">
    <img class="knowUsImg" src="../../assets/Images/About_Sidebar.jpg" width="450" height="200" />
    <div class="container-fluid">
      <app-know-us />
    </div>
  </div>
</div>
