<div class="hkepasegami">
  <app-page-header></app-page-header>

  <div class="body">
    <div id="Top">
      <main>
          <section class="section-featured-creators" id="featured_creators">
              <div>
                  <h2>Featured Creators</h2>
                  <p><a href="">See all</a></p>
              </div>

              <div class="card-grid-slider">
                  <div class="card-group-grid">
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Acceleration-Amadea-Music-Productions-400x400.jpeg" alt="">
                              </figure>
                              <h3>Acceleration</h3>
                          </a>
                          <p><a href="user.html">Amadea Music Productions</a></p>
                      </div>
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Charged-400x400.jpg" alt="">
                              </figure>
                              <h3>Charged</h3>
                          </a>
                          <p><a href="user.html">Charged</a></p>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Deflector-3-Complexities-of-Sound-400x400.jpeg" alt="">
                              </figure>
                              <h3>Deflector 3</h3>
                          </a>
                          <p><a href="user.html">Complexities of Sound</a></p>
                      </div>
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Divergent-Hybrid-Orchestra-Political-Drama-Themes-Lucas-Napoleone-Philippe-Briand-Salvador-Casais-400x400.jpeg" alt="">
                              </figure>
                              <h3>Divergent</h3>
                          </a>
                          <p><a href="user.html">Hybrid Orchestra</a></p>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Driver-Vol.-2-Imagine-Music-400x400.jpg" alt="">
                              </figure>
                              <h3>Driver Vol. 2</h3>
                          </a>
                          <p><a href="user.html">Imagine Music</a></p>
                      </div>
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Drowning-Abyss-2-Colossal-Trailer-Music-400x400.jpeg" alt="">
                              </figure>
                              <h3>Drowning Abyss 2</h3>
                          </a>
                          <p><a href="user.html">Colossal Trailer Music</a></p>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Epic-Reimagined-Cover-Frostudio-Chambersonic-400x400.jpg" alt="">
                              </figure>
                              <h3>Epic Reimagined</h3>
                          </a>
                          <p><a href="user.html">Frostudio Chambersonic</a></p>
                      </div>
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Feed-The-Thrill-Songs-To-Your-Eyes-400x400.jpeg" alt="">
                              </figure>
                              <h3>Feed The Thrill</h3>
                          </a>
                          <p><a href="user.html">Songs To Your Eyes</a></p>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Fight-Or-Flight-Tetra-400x400.jpg" alt="">
                              </figure>
                              <h3>Fight Or Flight</h3>
                          </a>
                          <p><a href="user.html">Tetra</a></p>
                      </div>
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Future-Technology-Background-Music-Lab-400x400.jpeg" alt="">
                              </figure>
                              <h3>Future Technology Background</h3>
                          </a>
                          <p><a href="user.html">Music Lab</a></p>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Acceleration-Amadea-Music-Productions-400x400.jpeg" alt="">
                              </figure>
                              <h3>Acceleration</h3>
                          </a>
                          <p><a href="user.html">Amadea Music Productions</a></p>
                      </div>
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Charged-400x400.jpg" alt="">
                              </figure>
                              <h3>Charged</h3>
                          </a>
                          <p><a href="user.html">Charged</a></p>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Deflector-3-Complexities-of-Sound-400x400.jpeg" alt="">
                              </figure>
                              <h3>Deflector 3</h3>
                          </a>
                          <p><a href="user.html">Complexities of Sound</a></p>
                      </div>
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Divergent-Hybrid-Orchestra-Political-Drama-Themes-Lucas-Napoleone-Philippe-Briand-Salvador-Casais-400x400.jpeg" alt="">
                              </figure>
                              <h3>Divergent</h3>
                          </a>
                          <p><a href="user.html">Hybrid Orchestra</a></p>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Epic-Reimagined-Cover-Frostudio-Chambersonic-400x400.jpg" alt="">
                              </figure>
                              <h3>Epic Reimagined</h3>
                          </a>
                          <p><a href="user.html">Frostudio Chambersonic</a></p>
                      </div>
                      <div class="card-simple">
                          <a href="post.html">
                              <figure>
                                  <img src="../../../../assets/Musics/covers/Feed-The-Thrill-Songs-To-Your-Eyes-400x400.jpeg" alt="">
                              </figure>
                              <h3>Feed The Thrill</h3>
                          </a>
                          <p><a href="user.html">Songs To Your Eyes</a></p>
                      </div>
                  </div>
              </div>
          </section>
          <section class="section-trending" id="trending">
              <div>
                  <h2>Trending</h2>
                  <p><a href="">See all</a></p>
              </div>

              <div class="card-grid-slider">

                  <div class="card-group-grid">
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Undefeated-Amadea-Music-Productions-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">Undefeated</a></h4>
                              <p><a href="user.html">Amadea Music Productions</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Tyler-Bates-John-Wick-Chapter-3-Parabellum-400x400.jpg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">John Wick Chapter 3 Parabellum</a></h4>
                              <p><a href="user.html">Tyler Bates</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Thomas-Newman-1917-400x400.jpg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">1917</a></h4>
                              <p><a href="user.html">Thomas Newman</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/The-Light-Around-Us-Dream-Sounds-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">The Light Around Us</a></h4>
                              <p><a href="user.html">Dream Sounds</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/The-Lake-House-DYATHON-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">The Lake House</a></h4>
                              <p><a href="user.html">DYATHON</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Summer-LiQWYD-1-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">Summer</a></h4>
                              <p><a href="user.html">LiQWYD</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Stargazing-Various-Artists-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">Stargazing</a></h4>
                              <p><a href="user.html">Various Artists</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Speed-Runner-Ultima-Trailer-Music-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">Speed Runner</a></h4>
                              <p><a href="user.html">Ultima Trailer Music</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Shock-and-Awe-Complexities-of-Sound-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">Shock and Awe</a></h4>
                              <p><a href="user.html">Complexities of Sound</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Ridge-Rider-Amadea-Music-Productions-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">Ridge Rider</a></h4>
                              <p><a href="user.html">Amadea Music Productions</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/RE-ACTION-NOIR-DEUX-The-Hit-House-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">The Hit House</a></h4>
                              <p><a href="user.html">RE ACTION NOIR DEUX</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Pulse-Paul-Sills-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">Pulse</a></h4>
                              <p><a href="user.html">Paul Sills</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                  </div>
                  <div class="card-group-grid">
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Millenium-Hybrid-Electro-Synthwave-Philippe-Briand-Salvador-Casais-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">Millenium Hybrid Electro Synthwave</a></h4>
                              <p><a href="user.html">Philippe Briand Salvador Casais</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Memories-of-the-Past-Merkwood-Music-400x400.jpeg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">Memories of The Past</a></h4>
                              <p><a href="user.html">Merkwood Music</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:void(0)" onclick="download()" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                      <div class="card-playing-horizontal">
                          <figure class="card-playing-horizontal-header">
                              <div>
                                  <span class="bi bi-play-circle-fill" onclick=""></span>
                              </div>
                              <a href="post.html"><img src="../../../../assets/Musics/covers/Mark-Isham-Honest-Thief-400x400.jpg" alt=""></a>
                          </figure>
                          <div class="card-playing-horizontal-body">
                              <h4><a href="post.html">Honest Thief</a></h4>
                              <p><a href="user.html">Mark Isham</a></p>
                          </div>
                          <div class="card-playing-horizontal-footer">
                              <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                              <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="bi bi-download"></span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section class="section-popular-artists" id="popular_artists">
              <div>
                  <h2>Popular Artists</h2>
                  <p><a href="">See all</a></p>
              </div>

              <div class="card-grid-slider">
                  <a href="user.html">
                      <div class="card-artists-vertical">
                          <figure>
                              <img src="../../../../assets/Musics/avatar-artists/Hans-Zimmer-400x400.jpg" alt="">
                          </figure>
                          <h4>Hans Zimmer</h4>
                      </div>
                  </a>
                  <a href="user.html">
                      <div class="card-artists-vertical">
                          <figure>
                              <img src="../../../../assets/Musics/avatar-artists/Henry-Jackman-400x400.jpg" alt="">
                          </figure>
                          <h4>Henry Jackman</h4>
                      </div>
                  </a>
                  <a href="user.html">
                      <div class="card-artists-vertical">
                          <figure>
                              <img src="../../../../assets/Musics/avatar-artists/Howard-Shore-400x400.jpg" alt="">
                          </figure>
                          <h4>Howard Shore</h4>
                      </div>
                  </a>
                  <a href="user.html">
                      <div class="card-artists-vertical">
                          <figure>
                              <img src="../../../../assets/Musics/avatar-artists/James-Horner-400x400.jpg" alt="">
                          </figure>
                          <h4>James Horner</h4>
                      </div>
                  </a>
                  <a href="user.html">
                      <div class="card-artists-vertical">
                          <figure>
                              <img src="../../../../assets/Musics/avatar-artists/James-Newton-Howard-400x400.jpg" alt="">
                          </figure>
                          <h4>James Newton Howard</h4>
                      </div>
                  </a>
                  <a href="user.html">
                      <div class="card-artists-vertical">
                          <figure>
                              <img src="../../../../assets/Musics/avatar-artists/Jason-Tonioli-400x400.jpg" alt="">
                          </figure>
                          <h4>Jason Tonioli</h4>
                      </div>
                  </a>
                  <a href="user.html">
                      <div class="card-artists-vertical">
                          <figure>
                              <img src="../../../../assets/Musics/avatar-artists/John-Williams-400x400.jpg" alt="">
                          </figure>
                          <h4>John Williams</h4>
                      </div>
                  </a>
                  <a href="user.html">
                      <div class="card-artists-vertical">
                          <figure>
                              <img src="../../../../assets/Musics/avatar-artists/Justus-Rumenapp-400x400.jpg" alt="">
                          </figure>
                          <h4>Justus Rumenapp</h4>
                      </div>
                  </a>
                  <a href="user.html">
                      <div class="card-artists-vertical">
                          <figure>
                              <img src="../../../../assets/Musics/avatar-artists/Michael-Jones-400x400.jpg" alt="">
                          </figure>
                          <h4>Michael Jones</h4>
                      </div>
                  </a>
                  <a href="user.html">
                      <div class="card-artists-vertical">
                          <figure>
                              <img src="../../../../assets/Musics/avatar-artists/Paul-Sills-400x400.jpg" alt="">
                          </figure>
                          <h4>Paul Sills</h4>
                      </div>
                  </a>
              </div>
          </section>
          <div class="overlay-section-download" id="download">
              <section class="section-download">
                  <div class="section-download-header">
                      <h4></h4>
                      <span class="far fa-close" onclick="download()" title="Close" aria-label="Close"></span>
                  </div>
                  <div class="section-download-body">
                      <a href="user.html"><img src="../../../../assets/Musics/avatar-artists/Hans-Zimmer-400x400.jpg" alt=""></a>
                      <h3>Say thanks to Ultima Trailer Music</h3>
                      <p>By downloading, you agree to our <a href="">License</a><p>
                      <a href="user.html" class="btn-secondary">Profile</a>
                  </div>
              </section>
          </div>
      </main>
    </div>
  </div>

  <app-footer></app-footer>
</div>


