<div class="body">
  <section class="phone">
    <input type="checkbox" id="navigation" />

    <div class="shadow"></div>
    <div class="frame">
      <div class="screen">
        <div class="building-shadow building-shadow-1"></div>
        <div class="building building-1"></div>
        <div class="building-shadow building-shadow-2"></div>
        <div class="building building-2">
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="antenna"></div>
        </div>
        <div class="building-shadow building-shadow-3"></div>
        <div class="building building-3">
          <div class="side"></div>
        </div>
        <div class="trees">
          <div class="tree tree-1"></div>
          <div class="tree tree-2"></div>
          <div class="tree tree-3"></div>
          <div class="tree tree-4"></div>
          <div class="tree tree-5"></div>
          <div class="tree tree-6"></div>
          <div class="tree tree-7"></div>
        </div>
        <div class="dots">
          <div class="dot" style="--pos: 0;"></div>
          <div class="dot" style="--pos: 1;"></div>
          <div class="dot" style="--pos: 2;"></div>
          <div class="dot" style="--pos: 3;"></div>
          <div class="dot" style="--pos: 4;"></div>
          <div class="dot" style="--pos: 5;"></div>
          <div class="dot" style="--pos: 6;"></div>
          <div class="dot" style="--pos: 7;"></div>
          <div class="dot" style="--pos: 8;"></div>
          <div class="dot" style="--pos: 9;"></div>
          <div class="dot" style="--pos: 10;"></div>
          <div class="dot" style="--pos: 11;"></div>
          <div class="dot" style="--pos: 12;"></div>
          <div class="dot" style="--pos: 13;"></div>
          <div class="dot" style="--pos: 14;"></div>
          <div class="dot" style="--pos: 15;"></div>
          <div class="dot" style="--pos: 16;"></div>
          <div class="dot" style="--pos: 17;"></div>
          <div class="dot" style="--pos: 18;"></div>
        </div>
        <div class="marker-container">
          <div class="marker"></div>
        </div>
        <label class="start-button" for="navigation">Start</label>
        <label class="close-button" for="navigation">Stop</label>
      </div>
      <label class="main-button" for="navigation">Main</label>
    </div>
    <div class="side-bottom">
      <div class="charger"></div>
    </div>
    <div class="side-side"></div>
  </section>
</div>
