.navbar{
  height: fit-content;
}

.nav-list{
  list-style-type: none;
}

.nav-link{
  font-weight: bold;
  color: black;
}

.navbar-nav .nav-link.active{
  color: black;
}

.nav-link:hover{
  text-decoration: underline;
  text-underline-offset: 7px;
}

.ntbcustom{
  background-color: #ff8d21;
  color: black;
  font-weight: 600;
  border:1px solid #ff8d21;
  outline: none;
}

.ntbcustom:hover {
  transition: all 500ms ease-in;
  background-color: transparent;
}
