<a href="" class="d-flex flex-lg-row flex-md-row flex-sm-row flex-column align-items-center justify-content-evenly text-decoration-none text-black">
  <div *ngFor="let data of backgroundUrls" class="gallery-container my-5">
    <div class="gallery">
      <video
      class="background-video"
      muted
      loop
      width="300"
      height="300"
      (mouseenter)="playVideo($event)"
      (mouseleave)="pauseVideo($event)"
      [src]="data.url">
    </video>
    </div>

    <div class="gallery-info d-flex justify-content-between align-items-center mt-2">
      <div>
        <h4 class="mb-0 mt-2 fs-5">{{ data.heading }}</h4>
        <p class="text-muted mb-0">Resources: {{ data.resources }}</p>
      </div>
      <div class="menu-icon d-sm-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
          <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
        </svg>
      </div>
    </div>
  </div>
</a>
