@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
  font-family: 'Roboto Slab', serif;
}

.ntbcustom{
  background-color: #ff8d21;
  color: black;
  font-weight: 600;
  border:none;
  outline: none;
}
