.search-field {
  width: 800px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  z-index: 2;
}

.search-select {
  border: none;
  box-shadow: none;
}

.custom-icon{
  cursor: pointer;
  color: black;
}

@media (max-width: 900px){
  .search-field{
    width: 100%;
  }
}
