<div class="vid-container">
  <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="https://videos.pexels.com/video-files/19247660/19247660-uhd_3840_2160_60fps.mp4" type="video/webm">
  </video>
  <div class="inner-container">
   
 
    <div class="box">
      <h1>Login</h1>
      



  <hr />

      <button (click)="loginWithGoogle()" class="google-btn">Sign in with Google</button>
      <button (click)="loginWithTwitter()" class="twitter-btn">Sign in with Twitter</button>
      <button (click)="loginWithFacebook()" class="facebook-btn">Sign in with Facebook</button>
    </div>
  </div>
</div>
